# Dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# Next.js build output
/.next/
/out/

# Production build
/build
dist/

# Large media files
*.mp4
/VIT Video/
/public/videos/

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Local environment variables
.env*.local
.env
!.env.example

# Vercel
.vercel

# Editor & OS files
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
Thumbs.db

# TypeScript cache
*.tsbuildinfo
